.about__page-wrapper {
    background: $color-red;
}

.nav__wrapper {
    background-color: $color-dark;


    &.display {
        background-color: $color-dark;
    }
}
 

ul {


     span {
         font-size: .7rem;
         color: $color-light;

         &.menu__item-expanded {
             color: $color-light;
         }
     }

    li {
        a, a.menu__item-expanded {
         color: $color-light;
     }
    }
 }
 