//offcanvas nav 

nav.navbar {
    background: $color-dark !important;
}

#offcanvasNavbar-expand-md {
    background: $color-dark;

    a {
        color: white;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    
    .offcanvas-header {

        background: $color-blue-dark;
        height: 65px;

}

}

.navbar-toggler:focus {
    box-shadow: none;
}




// center-nav

.nav__wrapper {
    display: none;
}

nav.center__nav {
    display: none;
}

//header 

header {
    display: none;
    align-self: flex-start;
}


.hello__wrapper {
    h1 {
        margin: 0;
        font-size: 4rem;
    }
    text-align: center;
}

section.home__lower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;

    p {
        text-align: center;
        margin-top: .5rem;
    }

}

.home__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .home__desc-img {
        height: 4rem;
        width: 4rem;
        // border-radius: 50%;
    }
}

.home__wrapper {
    display: grid;
    height: calc(100vh - 160px);
    gap: 3rem;
    grid-template-columns: 1fr;
    align-items: center;
}

.image__wrapper-home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    .home__image {
        // border-radius: 50%;
        height: 13rem;
        width: 100%;
        margin-bottom: 1rem;
    }
}


//Footer 

footer {
    height: 80px;
    margin-top: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p.footer__copy {
        font-size: 12px;
    }
}

// h1 animations

.letter {
    animation: bounce 0.5s cubic-bezier(0.05, 0, 0.2, 1) alternate;
    animation-iteration-count: 1.9;
    animation-delay: .45s;
    display: inline-block;
    transform: translate3d(0, 0, 0);
}

.letter:nth-of-type(1) {
    animation-delay: -0.083333333s;
}

.letter:nth-of-type(2) {
    animation-delay: 0.0833333333s;
}

.letter:nth-of-type(3) {
    animation-delay: 0.1666666667s;
}

.letter:nth-of-type(4) {
    animation-delay: 0.25s;
}

.letter:nth-of-type(5) {
    animation-delay: 0.3333333333s;
}

.letter:nth-of-type(7) {
    animation-delay: 0.4166666667s;
}

.letter:nth-of-type(8) {
    animation-delay: 0.4966666667s;
}

.letter:nth-of-type(9) {
    animation-delay: 0.5766666667s;
}

.letter:nth-of-type(10) {
    animation-delay: 0.6566666667s;
}

.letter:nth-of-type(11) {
    animation-delay: 0.7366666667s;
}

.letter:nth-of-type(12) {
    animation-delay: 0.8166666667s;
}


@keyframes bounce {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0, -.5em, 0);
    }
}

//Work 

.project__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    h2, .project__text {
        text-align: center;
        margin-bottom: 1.5rem
    }

    .project__image, .gatsby-image-wrapper img {
        display: flex;
        align-self: center;
        justify-self: center;
        margin-bottom: 1rem;
    }
}