@media screen and (min-width: 576px) {

    .hello__wrapper {
    
            margin-bottom: 0;
            text-align: center;
    
            h1 {
                margin: 0rem;
                font-size: 5rem;
    
            }
    
        }

.image__wrapper-home {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;

        .home__image {
            // border-radius: 50%;
            height: 13rem;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

        .project__wrapper {
            display: flex;
            // grid-template-columns: 1fr 1fr;
    
            h2,
            .project__text {
                text-align: center;
                margin-bottom: 1.5rem
            }

            p {
                padding: 0 1.5rem 1rem 1.5rem;
            }
    
            .project__image {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        
        .home__questions {
            a {
                margin: 1rem 1rem 0;
                // &:hover {
                //     border-bottom: 1px solid black;
                // }
            }
        }

        // .home__wrapper {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        // }

}

@media screen and (min-width: 768px){
  
    .hello__wrapper {
    
            margin-bottom: 100px;
    
        }
    
        //offcanvas nav 
        nav.navbar {
            display: none;
        }


.nav__wrapper {
    background-color: $color-dark;


    &.display {
        background-color: $color-dark;
    }
}


ul {


    span {
        font-size: .7rem;
        color: $color-light;

        &.menu__item-expanded {
            color: $color-light;
        }
    }

    li {

        a,
        a.menu__item-expanded {
            color: $color-light;
        }
    }
}
        
            // center-nav
        
            .nav__wrapper {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
               
        
                &.display {
                     background-color: $color-dark;
                }
            }
        
            nav.center__nav {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                // padding: 1.5rem;
                transition: 2s;
                // z-index: 1000;
        
                ul {
                    display: flex;
                    padding: 0;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
        
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1rem 1.5rem;

                        &[aria-current]::after,
                            &.current::after {
                                content: "";
                                background: white;
                                height: .5rem;
                                width: .5rem;
                            }

                        a {
                            color: $color-light;

                            &[aria-current], &.current {
                                border-bottom: 2px solid white;

                            }

                        }
                    }
        
                    span {
                        font-size: .6rem;
                        padding-right: .2rem;
                        display: none;
                        // color: $color-light;
        
                        &.menu__item-expanded {
                            color: $color-light;
                        }
                    }
        
                    a.menu__item-expanded {
                        color: $color-light;
                    }
                }
            }
        
            //header 
        
            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 80px;
                padding: 0 1.5rem;
                width: 100%;
        
                .nav__logo {
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                }
            }
        
        
        
            section.home__lower {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                justify-content: space-around;
                // background: $color-yellow-dark;
                gap: .5rem;

                .image__wrapper-home, .home__image {
                    margin: 0 !important;
                }
        
                p {
                    text-align: center;
                    margin-top: .5rem;
                }
        
            }
        
            .home__desc, .y {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
        
                .home__desc-img {
                    height: 4rem;
                    width: 4rem;
                    // border-radius: 50%;

                }
            }
        
            .home__wrapper {
                // display: grid;
                // gap: 3rem;
                // grid-template-columns: 1fr;
                // grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
                // justify-content: center;
                // align-items: center;
                // background-color: $color-yellow-dark;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                // height: calc(100vh - 80px);
            }
        
            .image__wrapper-home {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
        
                .home__image {
                    // border-radius: 50%;
                    height: 20%;
                    width: 100%;
                }
            }
        
        
            //Footer 
        
            footer {
                height: 80px;
                padding-bottom: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-end;
        
                p.footer__copy {
                    font-size: 12px;
                }
            }
        
            //Work 

        
            .project__wrapper {
                display: grid;
                align-items: flex-start;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
        
                .project__text {
                    text-align: left;
                    margin-bottom: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                p {
                    padding: 0;
                }
        
                .project__image {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

           

            //                                     .work__wrapper {
            //                                         display: none;
            //                                     }

                    
}


@media screen and (min-width: 1080px) {
        // .work__wrapper {
                
        //         display: grid;
        //         grid-template-columns: 1fr 1fr;
               
        //         .gatsby-image-wrapper {
        //             height: 280px;
        //         }
        //     }

                 .work__wrapper-hero {
                     background-color: $color-blue-light;
                     border-right: .5px solid $color-dark;
                     border-bottom: .5px solid $color-dark;
                     height: calc(100vh - 160px);
                     display: grid;
                     grid-template-columns: 1fr 2fr;
        
                     p {
                         margin: 1rem 0;
                     }
                 }
        
                             .project__wrapper-featured {
                                 height: calc(100vh - 160px);
                                 display: flex;
                                 flex-direction: column;
                                 justify-content: center;
                                 align-items: center;
                                 padding-bottom: 2rem;
                                //  background: $color-yellow-light;
        
                                 .project__image {
                                     width: 600px;
                                 }
        
                                 .gatsby-image-wrapper {
                                     width: 100%;
                                     height: 400px;
                                 }
        
                             }
        
                             .work__hero-left {
                                 display: flex;
                                 padding-bottom: 1.5rem;
                                 flex-direction: column;
                                 justify-content: center;
        
                                 .project__text {
                                         margin-top: 1rem;
                                         display: flex;
                                         padding: 1.5rem;
                                         flex-direction: column;
                                         align-items: flex-start;
                                         justify-content: flex-end;
        
        
                                         p {
                                             text-align: left;
                                             max-width: 500px;
                                         }
                                     }
        
        
                                 .work__title {
                                     align-self: flex-start;
                                     justify-self: flex-start;
        
                                     p {
                                         padding-left: 1.5rem;
                                     }
        
                                 }
        
                             }

                .work__wrapper {
                    display: none;
                }
}